<header>
  {{ with .Site.Menus.parent -}}
  <nav>
    {{ range . -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end -}}
  </nav>
  {{ end -}}
  <div>
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Params.subtitle }}
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Params.subtitle }}</a></h2>
    {{- end }}
  </div>
  <nav>
    {{- range .Site.Menus.main -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end -}}
    <a href="https://e145df3c.sibforms.com/serve/MUIFANXaX4wxIDS1YZB7ZoGOZl2sg-as3PnStAcIDSd7Nmpb0xnlAsM77FAXGwTutGGEC_tOnNIgYQ13bZOeTVO1uPdr9Jhu0zQVwXJfjsUXRzDxQldrK36JGAm3Gp2ufg3E9msVxcjju2rKoNrVEbSU5BV5UZDGSrHA-SoHkxX1BI7lzZzaFw7Dr1PWENaKi06O9QOtqjxj17lH" target="_blank" rel="noopener noreferrer"
      >Subscribe</a
    >
    {{ partial "search.html" . }}
  </nav>
  <form id="subscribeForm">
    <input name="email" type="email" placeholder="Type your Email" />
    <input type="submit" value="Subscribe" />
  </form>
</header>
